/* ........all body part...... */
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* .....Banner Section *Start*..... */

.navbar {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;


}

#nav-name {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
}

#nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  border-radius: 8px;

  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}

.banner-container {
  background-image: url(../assets/Hero-bg.png);
  color: black;
  height: 652px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;

}

.banner-container>h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-top: ;
}

.details {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#page-down-btn {

  background-color: black;
  font-family: Azeret Mono;
  padding: 15px 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}


/* .....Banner Section *End*..... */

/* -------------------------------------------------------------------------------------------------------------- */



/* ............... Main Section *Start* ............... */

/* ..... Why Web Development?? Section *Start* ..... */

.alignment {
  margin: 74px 10%;
}

.why-web-development-container {
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
  padding: 80px 97px;
  gap: 50px;

}

.text-field {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;


  .text-field {}

}

.text-field>h2 {
  font-size: 32px;

}

.text-field>p {
  font-size: 16px;
  padding: 0 15px;
}

.development-elements-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  margin-top: 32px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}


.development-elements-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  margin-top: 32px;
  background: linear-gradient(270.00deg, rgba(255, 255, 255, 0), rgb(255, 255, 255) 100%);
}

.development-elements-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  margin-top: 32px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.coding>h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.coding>p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.coding>button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);

  padding: 12px 20px 12px 20px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

}

.development-elements-2>.coding {
  justify-content: space-between;
}

/* ..... Why Web Development?? Section *End* ..... */


/* ..... My Inspiration Section *Start* ..... */

.my-inspiration {
  margin-top: 90px;
}

#video {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
}

#video-1 {
  border-radius: 16px;
}

.my-current-target {
  margin-top: 150px;
}

/* ..... My Inspiration Section *End* ..... */


/* ..... My Current Target Section *Start* ..... */

.grid {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  text-align: left;
}

.html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}

.css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}

.js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 40px;
}

.grid>h3 {
  font-size: 24px;
  font-weight: 800;
}

.grid>p {
  font-size: 16px;
  font-weight: 400;
}

/* ..... My Current Target Section *End* ..... */

/* ..... My Current Target Section *Start* ..... */

.support-container {
  margin: 50px 0 80px 0;
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 16px;
}

.suupport-elements {
  background: linear-gradient(90.00deg, rgba(2, 4, 17, 0.664), rgba(2, 4, 17, 0.199) 100%);
  padding: 64px 48px;
  display: block;
  text-align: center;
  border-radius: 16px;
}


.text-area>h3 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}

.text-area>p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}

.submit-field {
  margin-top: 24px;
  display: inline-flex;
  gap: 16px;
}

#box {
  align-items: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 548px;

  border: none;


  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: left;

  padding: 19px 20px;

}


#submit {

  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 17px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* ..... My Current Target Section *End* ..... */


/* ............... Main Section *End* ............... */



/* ............... Footer Section *End* ............... */

.footer-container {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 32px 10%;

}

.footer-elements {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.footer-elements>p {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}

.icons {
  font-size: 36px;
  display: flex;
  gap: 24px;
}

#github {
  color: rgb(22, 22, 20);
  ;
}

.footer{
  scroll-behavior:smooth;
}
/* ............... Footer Section *End* ............... */